<div class="aside-item site-progress-ctr">
    <fieldset>
        <legend>to-do</legend>
        <p><i>(in no coherent order)</i></p>
        <br>
        <ul style="max-height: 250px;">
            <li>
                [X] Revise the home page introduction.
            </li>
            <li>
                [X] Write some music as a little "site theme"
            </li>
            <li>
                [ ] Make each page a different colorscheme
            </li>
            <li>
                [ ] Add a guestbook
            </li>
            <li>
                [ ] Upload some music to the music page. Also figure out where to host it. Probably on catbox.
            </li>
            <li>
                [ ] Make the shelves page.
            </li>
            <li>
                [ ] Add the things I'm reading/listening to/watching/etc. to the shelves page.
            </li>
            <li>
                [ ] Make a page that looks completely different from everything else.
            </li>
            <li>
                [ ] Add pictures!
            </li>
        </ul>
    </fieldset>
</div>
