<div class="aside-item">
    <fieldset>
        <legend>
            site music
        </legend>
        <audio id="site-theme-player" autoplay src="https://upload.wikimedia.org/wikipedia/commons/c/cd/Double_Drift_(MacLeod%2C_Kevin)_(ISRC_USUAN1100254).oga"></audio>
        <div class="music-controls">
            <a class="music-toggle" onclick="document.getElementById('site-theme-player').play()">Play</a>
            <a class="music-toggle" onclick="document.getElementById('site-theme-player').pause()">Pause</a>
        </div>
        <p class="currently-playing"><i>Double Drift</i> by Kevin MacLeod</p>
        <p class="currently-playing">I'll put my own music on here a little later.</p>
    </fieldset>
</div>
