<div class="aside-item">
    <fieldset>
        <legend>
            site music
        </legend>
        <audio id="site-theme-player" autoplay src="/assets/music/prima_materia.mp3"></audio>
        <div class="music-controls">
            <a class="music-toggle" onclick="document.getElementById('site-theme-player').play()">Play</a>
            <a class="music-toggle" onclick="document.getElementById('site-theme-player').pause()">Pause</a>
        </div>
        <p class="currently-playing">track: <i>Prima Materia</i></p>
    </fieldset>
</div>
