<header>
    <div class="header-spacer"></div>
    <a href="/" id="site-logo">
        <div class="logo-ctr">
            <p class="moon">☽</p>
            <p class="stars">₊⁺⋆</p>
            <p class="logo-lines">═</p>
            <h1>Chrysopoeia</h1>
            <p class="logo-lines">═</p>
            <p class="stars">⋆⁺₊</p>
            <p class="moon">☾</p>
        </div>
        <!-- <img src="assets/imgs/logo_ichigaya-mincho.png" alt="chrysopoeia"> -->
    </a>
    <!-- {% include navigation.html %} -->
</header>
