@font-face {
    font-family: "MX";
    src: url("../fonts/Mx437_IBM_PS-55_re.woff");
    font-style: normal;
}

@font-face {
    font-family: "Ichigaya Mincho";
    src: url("../fonts/Ichigayamincho-9MAv0.ttf");
    /* src: url("../fonts/Mx437_IBM_PS-55_re.ttf"); */
    font-style: normal;
}

@keyframes skew-x-shaking {
    0% { transform: skewX(-15deg); }
    5% { transform: skewX(15deg); }
    10% { transform: skewX(-15deg); }
    15% { transform: skewX(15deg); }
    20% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); } 
}

@keyframes subtle-skew-x-shaking {
    0% { transform: skewX(-2deg); }
    20% { transform: skewX(2deg); }
    40% { transform: skewX(-2deg); }
    60% { transform: skewX(2deg); }
    80% { transform: skewX(0deg); }
    100% { transform: skewX(0deg); } 
}

:root {
    --bg-green: #1d2202;
    --dark-green: #313c0f;
    --black: #191713;
    --red: #6f3939;
    --purple: #5c3f79;
    --yellow: #ddb931;
    --dark-yellow: #6c6b10;
    --blue: #2a6ca6;
    --teal: #28886d;
    --ochre1: #877539;
    --ochre2: #8B7948;
    --green1: #978f43;
    --green2: #908b4c;
    --yellow-green: #ac9e5c;
    --light-gray: #c5c5c4;
    --off-white: #ede8dc;
    --green: #4d5c1c;

    --base-font-size: 22px;
    --body-text-area-padding: 30px;
    /* --base-font-size: 1em; */
    --panel-padding: 10px;
}


::selection {
    background: var(--yellow);
    color: var(--black);
}

.white-bottom-light {
    background: linear-gradient(to top, var(--off-white) 0%, transparent 40%);
}
.red-bottom-light {
    background: linear-gradient(to top, #ab4e1d 0%, transparent 70%);
}
.red {
    color: var(--red);
}
.yellow {
    color: var(--yellow);
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    color: white;
    /* font-family: "MX", monospace; */
    font-family: "MX", monospace;
}
body::before {
    /* background-color: #00000; */
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(12, 5, 15, 0) 50%, rgba(0, 0, 0, 0.18) 50%);
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
    z-index: 200;
}
body {
    background-color: var(--bg-green);
    font-size: var(--base-font-size);
}
h1 {
    color: var(--off-white);
}
audio {
    max-width: 200px;
}
.music-controls {
    display: flex;
    justify-content: space-between;
    * {
        cursor: pointer;
    }
}
.currently-playing {
    margin-top: 15px;
}
.inline-img {
    display: inline-block;
    /* margin: 0px 3px 0px 3px; */
    max-height: var(--base-font-size);
}
a, a:visited {
    background: linear-gradient(to top, var(--red) 50%, transparent 50%);
    display: inline-block;
    height: 1em;
    color: var(--yellow);
    text-decoration: none;
    font-weight: bold;
}
p, li {
    line-height: 1;
}
a:hover {
    animation: skew-x-shaking 0.8s infinite;
    /* text-decoration: underline; */
    /* background-color: var(--red); */
    /* color: #6f3939; */
    color: var(--red);
    background: linear-gradient(to top, var(--yellow)50%, transparent 50%);
}
ul {
    list-style-type: none;
}
legend {
    margin-left: 10px;
    /* font-family: "Ichigaya Mincho", serif; */
    font-size: 1.2em;
    color: var(--yellow);
    font-weight: bold;
}
fieldset {
    padding: var(--panel-padding);
}

#site-logo {
    text-decoration: none;
    font-weight: bold;
    background: inherit;
    height: 70px;
    display: inline-block;
    background-color: transparent;
    align-self: center;
    &:hover {
        animation: none;
    }
    .logo-ctr {
        display: flex;
        align-items: center;
        >* {font-size: 2.3em;}
        .moon, .stars {display: none;}
        .moon {font-size: 1.3em;}
        &:hover {
            h1 {
                animation: subtle-skew-x-shaking 0.2s infinite;
                background: linear-gradient(to top, var(--off-white) 0%, transparent 40%);
            }
            .moon {
                display: block;
                color: var(--red);
                animation: skew-x-shaking 0.9s infinite;
            }
            .stars {
                display: block;
                color: var(--yellow);
                animation: subtle-skew-x-shaking 0.5s infinite;
            }
            .logo-lines {color: var(--dark-green); }
        }
    }
}

header {
    border: 5px double #313c0f;
    background-color: var(--green);
    /* box-shadow: 10px 10px var(--off-white); */
    box-shadow: 10px 10px 2px var(--off-white);
    margin: 15px 5px 15px 5px;
    height: 140px;
    display: flex;
    flex-direction: column;
    .header-spacer {
        height: 35px;
    }
    .page-header {
        margin: auto;
    }
    .nav-ctr {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}

.nav-link {
    background-color: transparent;
    font-size: 1.1em;
}

.tweets-ctr {
    max-height: 250px;
    overflow-y: scroll;
    scrollbar-width: none;
    .tweet {
        .tweet-date {
            color: var(--yellow);
            font-weight: bold;
        }
        margin-bottom: 20px;
    }
}

.root-ctr {
    max-width: 1200px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.about-body,
.home-body,
.music-body,
.shelves-body,
.blog-body,
.writing-body {
    p, li {
        text-align: justify;
    }
    margin: 5px;
    display: flex;
    flex-direction: row;
    min-height: 300px;
    /* width: auto; */
}
.aside {
    width: 250px;
    &.left-aside {
        margin: 5px 15px 5px 0px;
    }
    &.right-aside {
        margin: 5px 0px 5px 15px;
    }
    .aside-item {
        border: 5px double #313c0f;
        margin-bottom: 20px;
        background-color: var(--dark-green);
        padding: 5px;
        box-shadow: 10px 10px 2px var(--off-white);
        &:hover {background-color: var(--green);}
    }
}
.updates-ctr {
    max-height: 250px;
    overflow-y: scroll;
    scrollbar-width: none;
    scrollbar-color: var(--yellow-green) var(--yellow);
    .update-date {color: var(--yellow);}
    .update {margin-bottom: 20px;}
}
.site-progress-ctr {
    cursor: default;
    ul {
        max-height: 250px;
        overflow-y: scroll;
        scrollbar-width: none;
        li {
            text-align: left;
            background-color: var(--dark-green);
            margin-bottom: 15px;
            color: var(--yellow);
        }
    }
}
main {
    /* box-shadow: 10px 10px var(--off-white); */
    box-shadow: 10px 10px 2px var(--off-white);
    border: 5px double #313c0f;
    padding: var(--body-text-area-padding);
    flex: 1 1 50%;
    margin: 5px 15px 5px 15px;
    background-color: var(--green);
    >* {margin-bottom: 15px;}
    p {
        margin-bottom: 15px;
    }
    ul {
        margin-left: 50px;
        list-style-type: disc;
        li {margin-bottom: 15px;}
    }
    .tweets-field {
        min-height: 200px;
        max-height: 500px;
        overflow-y: scroll;
        scrollbar-width: thin;
        scrollbar-color: var(--yellow-green) var(--yellow);
    }
}
footer {
    margin: 5px;
    height: 100px;
}

/*
 * BLOG PAGE SHIT
 * */

main h1 {
    margin-bottom: 15px;
}
main h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    color: var(--off-white);
}
.blog-main, .writing-main {
    /* flex: 1 1 100%; */
    /* margin: 5px 15px 5px 15px; */
    background-color: var(--green);
    >* {margin-bottom: 15px;}
    ul {
        margin-left: 0px;
        list-style-type: none;
        display: block;
        .post-excerpt {
            margin-top: 5px;
            background-color: var(--dark-green);
        }
    }
}

.gallery {
    background-color: var(--dark-green);
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-top: 15px;
    padding: 10px;
}
.date-line {
    margin-bottom: 40px;
    font-size: 0.8em;
}
.footnotes-divider {
    margin-top: 15px;
}

/*  */
/* SHELVES */
/*  */

.media-ctr {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-green);
    align-content: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 900px;
    max-height: 900px;
    overflow-x: scroll;
    scrollbar-width: thin !important;
    >* {
        margin: 10px;
    }
    .media-card {
        border: 4px double var(--black);
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        /* use flex grow shrink basis */
        max-width: 250px;
        flex: 0 1 25%;
        padding: 5px;
        a {
            color: var(--off-white);
            /* text-decoration: underline; */
            background: transparent;
            margin-bottom: 5px;
        }
        .media-card-top {
            display: flex;
            justify-content: space-between;
            > * {
                font-size: 0.8em;
            }
        }
        .media-card-middle {
            .artist {
                font-size: 0.9em;
                background-color: var(--black);
                display: inline;
                padding: 2px 5px 2px 5px;
            }
            .release-date {
                /* color: var(--yellow); */
                margin-top: 5px;
                font-size: 0.9em;
            }
            .media-post-content {
                padding: 5px;
                max-height: 300px;
                overflow-y: scroll;
                font-size: 0.9em;
                >* {
                    text-align: left;
                }
            }
        }
        .media-card-bottom {
            padding: 10px;
            >* {
                background: linear-gradient(to top, var(--red) 50%, transparent 50%);
                display: inline-block;
                height: 1em;
                color: var(--yellow);
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
    .show {
        background-color: var(--purple);
        .media-post-content {
            background-color: #3b254a;
        }
    }
    .music {
        background-color: var(--blue);
        .media-post-content {
            background-color: #2c4a64;
        }
        .post-link {
            align-self: start;
        }
    }
    .book {
        background-color: var(--dark-yellow);
        .media-post-content {
            background-color: #4b4c25;
        }
    }
    .movie {
        background-color: var(--red);
        .media-post-content {
            background-color: #4c2527;
        }
    }
    .game {
        background-color: var(--teal);
        .media-post-content {
            background-color: #16624d;
        }
    }
}
