* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* remove later */
    border: 1px solid gray;
    /* remove later */
    a, a:visited {
        color: inherit;
        text-decoration: none;
    }

    ul {
        list-style-type: none;
    }
}

header {
    background-color: tomato;
    margin-top: 30px;
    height: 100px;
    display: flex;
    flex-direction: column;
    .page-header {
        /* height: 80px; */
        /* flex: 1 1 80%; */
        margin: auto;
    }
    .nav-ctr {
        display: flex;
        justify-content: center;
        /* margin: auto; */
        .nav-link {
            /* margin: auto; */
            margin: 15px;
            color: orange;
        }
    }
}

.root-ctr {
    max-width: 1100px;
    min-height: 100vh;
    margin: auto;

    .about-body, .home-body, .music-body, .shelves-body, .blog-body, .writing-body {
        display: flex;
        flex-direction: row nowrap;
        min-height: 300px;
    }

    .left-aside {
        flex: 1 1 10%;
        background-color: #eed202;
    }

    main {
        flex: 1 1 50%;
    }

    .right-aside {
        flex: 1 1 10%;
        background-color: green;
    }

    footer {
        background-color: tomato;
        height: 100px;
    }
}
